[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Eliad Cohen (EliadCohenRH)
	owner = group user/Yogev Rabl (yorabl)
[access "refs/for/refs/*"]
	read = group user/Yogev Rabl (yorabl)
	push = group user/Yogev Rabl (yorabl)
	label-Code-Review = -2..+2 group RH_Jordan
	label-Code-Review = -2..+2 group user/Yogev Rabl (yorabl)
	label-Verified = -1..+1 group RH_Jordan
	label-Verified = -1..+1 group user/Yogev Rabl (yorabl)
	rebase = group user/Yogev Rabl (yorabl)
	removeReviewer = group user/Yogev Rabl (yorabl)
	submit = group RH_Jordan
	submit = group user/Yogev Rabl (yorabl)
[access "refs/heads/*"]
	read = group user/Yogev Rabl (yorabl)
	create = group user/Yogev Rabl (yorabl)
	push = +force group user/Yogev Rabl (yorabl)
	pushMerge = group RH_Jordan
	pushMerge = group user/Yogev Rabl (yorabl)
[access "refs/tags/*"]
	push = group RH_Jordan
	push = group user/Yogev Rabl (yorabl)
	push = +force group user/Yogev Rabl (yorabl)
